
*{
    font-family: 'Roboto', sans-serif;
}
:root {
    --textos: rgb(44, 52, 62);
    --defaultPrimario: rgb(0, 143, 234);
    --hoverPrimario: rgb(33, 164, 244);
    --Checkbox:rgb(68,156,234);
    --defaultSecundario: rgb(231, 244, 254);
    --hoverSecundario: rgb(207, 234, 254);
    --grisOscurofondo: rgb(88, 95, 103);
    --grisClarofondo: rgb(245, 246, 248);
    --grisClaroform: rgb(183, 185, 189);
    --rojoNotificacion: rgb(252, 93, 85);
    --blanco:rgb(255, 255, 255);

}
body {
    /* overflow: hidden; */
}



.main-container{
    background-color: var(--grisClarofondo);
    display: flex;
    flex-direction: row;

}

.right-side-section{
    display: flex;
    flex-direction: column;
    
}
a{
    text-decoration: none;
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--grisClaroform);
    margin-left: 10px;

}
.logo > img {
    margin: auto;
    margin-left: 0px;
    margin-right: 5px;
    width: 35px;
    height: 35px;
}
.logo > h4 {
    margin: auto;
    margin-left: 5px;

}
.user-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.user-section > .avatar {
    margin: auto;
    margin-left: 22px;
    margin-bottom: 30px;
    margin-top: 10px;
}
.user-section > .user-info {
    margin: auto;
    margin-left: 0px;
    margin-top: 20px;
}

.user-section > .user-info h5 {
    font-size: 20px;
}
.user-section > .user-info p {
    font-size: 15px;
}

.md-avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
  }

.bg-primary {
    background-color: var(--blanco) !important;
}

#bottom-icon{
    transform: rotate(.1turn);
    color: var(--grisClaroform);
}

#sidebar-container {
    min-height: 100vh;   
    width: 20vw; 
    background-color: var(--blanco);
    /* filter: drop-shadow(30px 10px 4px var(--grisClarofondo)); */
    filter: drop-shadow(1px 5px 4px var(--grisOscurofondo));
    z-index: 1;
}
#sidebar-container > div.bottom-section > a {
    text-decoration: none;
    margin-left: 10px;
}

#sidebar-container .logo {
    padding: .875rem 1.25rem;
}
#sidebar-container .menu {
    width: 100%;
    border-bottom: 1px solid var(--grisClaroform);
    
}

#sidebar-container .menu i {
    margin-left: 15px;
}

#sidebar-container .menu a {
    color: var(--textos) !important;
    padding-top: 1;
    margin-left: 10px;
}


#sidebar-container .menu a:hover {
    color: var(--hoverPrimario) !important;
}

#sidebar-container .settings-section {
    margin-top: 20px;
}

#sidebar-container .settings-section i {
    margin-left: 15px;
}
#sidebar-container .settings-section a {
    color: var(--textos) !important;
    padding-top: 1;
    margin-left: 10px;
}
#sidebar-container .settings-section a:hover {
    color: var(--hoverPrimario) !important;
}

#sidebar-container .bottom-section {
    position: absolute;
    bottom: 20px;
}

#sidebar-container .bottom-section i {
    margin-left: 15px; 
}
#sidebar-container .bottom-section a {
    color: var(--textos) !important;
    padding-top: 1;
    
}



#sidebar-container > div.menu > a{
    text-decoration: none;
}
#sidebar-container > div.settings-section > a{
    text-decoration: none;
}
#sidebar-container .bottom-section a:hover {
    color: var(--hoverPrimario) !important;
}

/* Barra de busqueda */
.btn-search{
    left: 0px;
}

#search-bar{
    background-color:red;
}

#search{
    margin-left: 50px;
}




/* Tabla Datatables */

.table-container{
    margin-left: 2%;
    margin-right: 2%;
}

contenedor-tabla{
    margin-left: 80%;
    margin-right: 80%;

}


#tablaContactos {
    margin-top: 50px !important;
    
}

#tablaContactos > tbody > tr{
    height: 6px;
    
}

/* #tablaContactos > tbody > tr:nth-child(1) > td:nth-child(9){
    display: none;
} */

#tablaContactos > tbody > tr:hover{
    background-color: var(--hoverPrimario);
    
}

/* Empieza tabla de contactos */

#tablaContactos > tbody > tr > td> img {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.spacer200{
    width: 100%;
    height: 180px;
}

/* BOTON ADD CONTACT */
#botoncreate{
    cursor: pointer;
    width: 120px;
    background-color: var(--defaultPrimario);
    color: var(--blanco);
    position: absolute;
    right: 2%;
    top: 75px
}
#botoncreate:hover{
    width: 120px;
    background-color: var(--hoverPrimario);
    color: var(--blanco);
}




/* BOTON TRASH */
body > div > div.right-side-section.w-100 > div.contador-checkbox {    
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 250px;
    left: 470px;
    z-index: 1;
    transition: 500ms;
}

/* EMPIEZA CHECKBOX */

.round {
position: relative;
width: 50px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: center;
left: -48px;
}

body > div > div.right-side-section.w-100 > div.contador-checkbox > div > p{
    position: relative;
    left: 50px;
    white-space: nowrap;
}

.round label {
    width: 28px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    left: 0;
    top: -5px;
    text-align: center;
    background-color: var(--Checkbox);
    color: var(--blanco);
    font-weight: 900;
    font-family: 'Righteous', cursive;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 25%;
    cursor: pointer;
}  

.round label:after {
    width: 28px;
    height: 28px;
    content: "";
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
}
.round input[type="checkbox"] {
visibility: hidden;
text-align: center;
}
.round input[type="checkbox"]:checked + label {
    background-color: var(--Checkbox);
    color: var(--blanco);
}

.round input[type="checkbox"]:checked + label:after {
opacity: 1;
}

/* INICIA CHECKBOX TABLA */

.round2 input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-color: var(--grisClarofondo);
    
}

/* .round2 {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    }
    
    .round2 label {
        width: 28px;
        height: 28px;
        line-height: 28px;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        background-color: red;
        color: var(--blanco);
        font-weight: 900;
        font-family: 'Righteous', cursive;
        font-size: 15px;
        border: 1px solid #ccc;
        border-radius: 25%;
        cursor: pointer;
    }  
    
    .round2 label:after {
        width: 28px;
        height: 28px;
        content: "";
        left: 7px;
        opacity: 0;
        position: absolute;
        top: 8px;

    }
    .round2 input[class="checkbox"] {
    visibility: hidden;
    text-align: center;
    }
    .round2 input[class="checkbox"]:checked + label {
        background-color: var(--Checkbox);
        color: var(--blanco);
    }
    
    .round2 input[class="checkbox"]:checked + label:after {
    opacity: 1;
    } */



/* TERMINA CHECKBOX TABLA */

/* TERMINA CHECKBOX GENERAL */

#delete{
    position: absolute;
    top: 250px;
    left: 610px;
    z-index: 1;
    background-color: transparent;
    border: none;
    transition: 500ms;
}
#delete:hover{
    color: red;
}
/* COMPANY FILTER */
.text-company-filter{
    position: absolute;
    top: 105px;
    left: 420px;
    transition: 500ms;
}

#tablaContactos > thead > tr > th:nth-child(5) > select {
    position: absolute;
    top: -100px;
    width: 200px;
}

#tablaContactos > thead > tr > th:nth-child(5)::before{
    display: none;
}
#tablaContactos > thead > tr > th:nth-child(5)::after{
    display: none;
}
#tablaContactos > thead > tr > th.sorting.sorting_desc{

}
.btn-group>.btn:first-child {
    position: absolute;
    top: -100px;
    left: 50px;
    width: 55px;
    z-index: 1;
    border: none;
    background-color: transparent;
    
}
.bootstrap-select.btn-group .btn .filter-option {
    color: var(--hoverPrimario);
}

.table>thead>tr>th {
    border: none;
}

.dropdown-menu{
top: -66px;

}


/* COMPANY END */

body > div > div.right-side-section.w-100 > div.contador-checkbox > div > i{
    margin-left: 20px;
}
body > div > div.right-side-section.w-100 > div.contador-checkbox > div > i:hover{
    color: red;
    transition-duration: 500ms;
    transition-property: color;
    cursor: pointer;
}

/* SELECTED ITEMS */
body > div > div.right-side-section.w-100 > div.contador-checkbox > div{
    margin-left: 15px;
}




/* BUSCADOR */

#tablaContactos_wrapper {
    width: 100%;
    background-color:var(--blanco);
}
#tablaContactos_wrapper > div:nth-child(1){    
    width: 100%;
    
}
#tablaContactos_wrapper > div:nth-child(1) > div:nth-child(2){
    position: absolute;
    top: 0px;
    left: 20vw;
    width: 48vw;
    background-color: var(--blanco);
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    transition: 500ms;

}

@media (min-width: 768px) {
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 100vw;
        min-width: 78vw;
    }
    }


/* .col-sm-12{
    width: 100vw;
} */

/* BOTON SELECT FILTRADO START */
.table thead th {
    border-bottom: none;
    border-top: none;
}

#tablaContactos > thead > tr > th.sorting.sorting_asc > select {
    background-color: transparent;
}



/* BOTON SELECT FILTRADO END */




#tablaContactos_filter{
    width: 100%;
    min-width: 100%;
    margin-left: 0px;
    margin-right: 0px;   
}


#tablaContactos_filter > label > i{    
    color: #c4cfde;
    background-color:transparent;
    height: 50px;
    line-height: 60px;
    margin-right: -20px;
    z-index: 1;
}
#tablaContactos_filter > label {
    width: 80vw;
    min-width: 100%;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 2vw;
    border-color: transparent;
    
}
#tablaContactos_filter > label > input {
    margin-left: 200px;
    width: 100%;
    min-width: 100%;
    margin-left: 0px;
    height: 60px;
    border-color: transparent;
    /* background: no-repeat url(/assets/img/search-solid.png);
    background-size: 20px;
    background-position: left;
    background-position-x: 30px;
    filter: grayscale(100%); */
    
}



.form-control{
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
    padding: 0.25rem 2rem;
    
}
.form-control:focus{
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
    padding: 0.25rem 2rem;
}





#tablaContactos_filter{
    text-align: left;

}


#sidebar-container > div.settings-section {
    width: 20vw;
}

#sidebar-container{
    transition-duration: 500ms;
    transition-property: width;
    width:20vw;
    overflow: hidden;
}

#escondeBarra{
    
    display: line;
}

#esconderTitulo{
    display: inline;
}


.row{
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
}

.notification-section{
    margin-right: 500px;
    cursor: pointer;
}

.bell{
    z-index: 2;
    position: absolute;
    right: 2%;
    top: 15px;
}

.circulo {
    position: absolute;
    right: 2%;
    top: 18px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    z-index: 3;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#bell {
    z-index: 2;

}



#tablaContactos_length > label{
    display: none;
}

/* OCULTAR HEADER TABAL */
#tablaContactos > thead > tr > th{
    visibility: hidden;
    
}


/* FILTRO COMPANIA */
#tablaContactos > thead > tr > th:nth-child(5){
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 1;
    display: block;
    visibility: visible;

}

/* MODATAL START */

#exampleModal > div > div > div.modal-header {
    border: none;
}


#exampleModal > div > div > div.modal-body > div > div{
    border: none;
}
/* Ventana */

#exampleModal > div > div{
    width: 700px;
}

/* TITULO */
#exampleModal > div > div > div.modal-body > div > div > div.card-header{
    background-color: var(--blanco);
    border: none;

}
/* INPUTS */
#exampleModal > div > div > div.modal-body > div > div > div.card-body > form > div > input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0%;
    
}


#exampleModal > div > div > div.modal-body > div > div > div.card-body > form > div.company-position-section > div> input{
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0%;
    padding: 0px;

}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus, .was-validated
.custom-select:invalid:focus, .custom-select.is-invalid:focus{
    border-color: var(--grisClaroform);
    box-shadow: none;
}
.was-validated .form-control:invalid, .form-control.is-invalid, .was-validated
.custom-select:invalid, .custom-select.is-invalid{
    border-color: var(--grisClaroform);
}

.form-control:focus{
    border-color: var(--grisClaroform);
}

#laberl-form{
    color: var(--grisClaroform);
    visibility: hidden;        
}

@media (min-width: 1200px){
.container {
    width: 600px;
}
}

/* BOTONES */

#boton-cancel{
    background-color: var(--defaultSecundario);
    color: var(--defaultPrimario);
}
#boton-cancel:hover{
    background-color: var(--hoverSecundario);
    color: var(--hoverPrimario);
}

#boton-enviar-form{
    position: absolute;
    bottom: -70px;
    right: 70px;
    color: var(--blanco);
    background-color: var(--defaultPrimario);
}

#boton-enviar-form:hover{
    color: var(--blanco);
    background-color: var(--hoverPrimario);
}

/* BOTON CERRAR VENTANA */
#exampleModal > div > div > div.modal-header > button{
    position: absolute;
    right: 50px;
    top: 60px;
    z-index: 1;
    
}

#exampleModal > div > div > div.modal-header > button > span{
    color: black;
    font-size: 30px;
    
}

/* COMPANY AND POSITION */
#exampleModal > div > div > div.modal-body > div > div > div.card-body > form > div.company-position-section{
    display: flex;
    flex-direction: row;
}

#exampleModal > div > div > div.modal-body > div > div > div.card-body > form > div:nth-child(3){
    width: 100%;
}

#exampleModal > div > div > div.modal-body > div > div > div.card-body > form > div.company-position-section > div:nth-child(1) > input{
    width: 80%;
}

/* MODATAL END */